<ion-view title="Termine">

    <ul class="events-filter">
      <!-- <li class="filter-item all-events">
      <a href="#" class="inner">Termine FC EDA</a>
      </li> -->
      <li class="filter-item my-events active">
        <a href="#" class="inner">Meine Termine</a>
      </li>
      <li class="filter-item open-events">
        <a href="#" class="inner">Wichtig</a>
      </li>
    </ul>

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-filter">
    <ion-list>
      <ion-item ng-repeat="event in listCtrl.eventList" class="item-icon-right" href="#/app/event/{{event.id}}">
        
        <button class="date btn-circle js-btn" data-ng-click="listCtrl.toggleState($event)">
          <span class="ico-circle js-ico undefined"></span>
          <span class="day">{{event.from | date:'EEE'}}</span>
          <span class="date">{{event.from | date:'dd.MM'}}</span>
        </button>
        <ul class="details">
          <li class="team title-sub">{{event.team}}</li>
          <li class="title">{{event.title}}</li>
          <li class="time">{{event.from | date:'HH.mm'}} bis {{event.to | date:'HH.mm'}} Uhr</li>
          <li class="location">{{event.location}}</li>
        </ul>
        <i class="icon ion-chevron-right"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>